<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>113142352242-6kkbbn8krqnqmo77objqi3amjc803qh3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113142352242-6kkbbn8krqnqmo77objqi3amjc803qh3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>113142352242-12d4galk5vjhc6v7q55dil4n578pq65d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAHpgZ2Ot7cXBqDWIjAVJxunJLKyzYDUyk</string>
	<key>GCM_SENDER_ID</key>
	<string>113142352242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ubereats</string>
	<key>PROJECT_ID</key>
	<string>starling-d419a</string>
	<key>STORAGE_BUCKET</key>
	<string>starling-d419a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113142352242:ios:4d7a34c7511beb2ce175eb</string>
	<key>DATABASE_URL</key>
	<string>https://starling-d419a-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>